!!! 5
html
    head
        title Threadz
        meta(charset='utf-8')
        meta(name='apple-mobile-web-app-capable', content='yes')
        link(rel='stylesheet', href='/mobile/css/threadz.css')
    body
        script(type='text/javascript', charset='utf-8', src='#{host}/socket.io/socket.io.js')
        // <script type="text/javascript" charset="utf-8" src="js/lib/cordova-1.7.0.js"></script>
        // <script type="text/javascript" charset="utf-8" src="js/lib/PushNotification.js"></script>
        script(type='text/javascript', charset='utf-8', src='/mobile/js/lib/sencha/sencha-touch-all-debug.js')
        script(type='text/javascript', charset='utf-8', src='/mobile/js/app/index.js')
